#finder-div-container {
    position: fixed;
    z-index: 35;
    top: 34%;
    width: 22em;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.finder-div-container-visible {
    left: 0em;
}

.finder-div-container-hidden {
    z-index: -5;
    left: -22em;
}

#finder-icon-div {
    top: 12em;
    position: absolute;
    padding: 0.5em;
    display: block;
    text-align: center;
    vertical-align: middle;
    z-index: 35;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.finder-icon-div-visible {
    /*pointer-events: click;*/
    right: -5em;
    opacity: 1;
}

.finder-icon-div-hidden {
    pointer-events: none;
    z-index: 0;
    right: 0em;
    opacity: 0;
}

#finder-menu-div {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

#finder-icon-div span.glyphicon-search {
    font-size: 50px;
    width: 50px;
    height: 50px;
    margin: auto;
    color: #4D8FD6;;
}

.finder-menu-hidden{
    display: none;
}

.finder-menu-displayed{
    display: block;
}