#basic-container-div{
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 100;
  max-width: 40%;
  min-width: 40%;
}

html, body, #map-index-div {
  height: 100%;
}

.ermes-menu-tabs{
  background-color: rgba(255,255,255,0.5);
  border-style: solid;
  border-color: #0000ff;
  border-radius: 10px; 
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;

}







/*html, body { 
  overflow-x:hidden;
  height: 100%; 
  width: 100%; 
  margin: 0; 
  padding: 0;
} 
      

#mapDiv {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#locateButton {
  position: absolute;
  top:95px;
  left:20px;
  z-index:50;
}

#homeButton {
  position: absolute;
  top:125px;
  left:20px;
  z-index:50;
}

#searchButton {
  position: absolute;
  z-index:2;
  top:20px;
  left: 65px;
}


/* 
  html, body { 
        height: 100%; width: 100%; margin: 0; 
      } 
      body{
        background-color:white; overflow:hidden; 
        font-family: "Trebuchet MS"; 
      }
      #header {
        background-image: url('../img/banner.jpg'); background-repeat: repeat-x;
        margin: 2px;
        border: solid 4px #224a54;
        background-color:#ecefe4;
        color:white; font-size:18pt; 
        text-align:left; font-weight:bold; height:70px;
      }
      #subheader {
        font-size:small;
        color:white;
        padding-left:20px;
      }
      #rightPane{
        background-color:white;
        color:#3f3f3f;
        border: solid 2px #224a54;
        width:20%;
      }
      #leftPane{
        margin: 5px;
        padding:2px;
        background-color:white;
        color:#3f3f3f;
        border: solid 2px #224a54;
        width:20%;
     }
      #mapDiv {
        margin: 5px;
        border:solid 4px #224a54;
        -moz-border-radius: 4px;
      }
      #footer {
        margin: 2px;
        border: solid 2px #224a54;
        background-color:#ecefe4;color:#3f3f3f;
       font-size:10pt; text-align:center; height:40px;
      }
      .dijitTabInnerDiv{
        background-color:#ecefe4;
      }
      #tabs{
        padding:5px;
      }

      #locate {
        position: absolute;
        top:95px;
        left:22px;
        z-index:50;
      }

      */