#basic-container-div{
    position: absolute;
    top: 32em;
    /*top: 1em;*/
    /*right: 1em;*/
    left: 1em;
    z-index: 35;
    max-width: 40%;
    min-width: 40%;
}

.ermes-window-aspect{
    background-color: rgba(255,255,255,0.8);
    border-style: solid;
    border-color: #4D8FD6;
    border-radius: 10px;
    padding: 1em;
    border-width: 1px;
}

.ermes-dropdown-div {
    width: 100%;
}
.ermes-dropdown-div+.ermes-dropdown-div {
    margin-top: 5px;
}
.ermes-dropdown-inner-button {
    border-radius: 4px;
    width: 100%;
    clear: both;
}
.ermes-dropdown-inner-button span {
    float: right;
    top: 0em;
    font-size: 1.5em;
}
.ermes-dropdown-inner-button:hover span {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;}


.ermes-separator-aspect{
    /*border-style: solid;*/
    /*border-color: #4D8FD6;*/
    /*border-width: 3px;*/
    /*margin-left: -1em;*/
    /*margin-right: -1em;*/
    border-top: solid #4D8FD6 1px;
    border-right: none;
    border-bottom: none;
    border-left: none;
    margin: 1em -1em 1em -1em;
}

#monitoring-div-container {
    position: fixed;
    z-index: 35;
    top: 35%;
    width: 22em;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.monitoring-div-container-visible {
    left: 0em;
}

.monitoring-div-container-hidden {
    z-index: -5;
    left: -22em;
}

#monitoring-icon-div {
    position: absolute;
    padding: 0.5em;
    display: block;
    text-align: center;
    vertical-align: middle;
    z-index: 35;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.monitoring-icon-div-visible {
    /*pointer-events: click;*/
    right: -5em;
    opacity: 1;
}

.monitoring-icon-div-hidden {
    pointer-events: none;
    z-index: 0;
    right: 0em;
    opacity: 0;
}

#monitoring-menu-div {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

#monitoring-icon-div span.glyphicon-eye-open {
    font-size: 50px;
    width: 50px;
    height: 50px;
    margin: auto;
    /*color: #009451;*/
    color: #4D8FD6;
;
}





#main-raster-name{
  position: absolute;
  bottom: 2em;
  right: 1em;
  z-index: 35;
  border:solid 3px #254ec7;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright:8px;
  -moz-border-radius-bottomleft:8px;
  -moz-border-radius-bottomright:8px;
  -webkit-border-top-left-radius:8px;
  -webkit-border-top-right-radius:8px;
  -webkit-border-bottom-left-radius:8px;
  -webkit-border-bottom-right-radius:8px;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
  background-color: #FFFFFF;
  padding: 5px;
  opacity: 0.6;
}

#main-raster-name:hover {
  opacity: 0.99;
}

#compared-raster-name{
  position: absolute;
  bottom: 5em;
  left: 1em;
  z-index: 35;
  border:solid 3px #254ec7;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright:8px;
  -moz-border-radius-bottomleft:8px;
  -moz-border-radius-bottomright:8px;
  -webkit-border-top-left-radius:8px;
  -webkit-border-top-right-radius:8px;
  -webkit-border-bottom-left-radius:8px;
  -webkit-border-bottom-right-radius:8px;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
  background-color: #FFFFFF;
  padding: 5px;
  opacity: 0.6;
}

#compared-raster-name:hover {
  opacity: 0.99;
}

.visible{
  visibility: visible;
}

.notvisible{
  visibility: hidden;
}

.display-block{
  display: block;
}

.display-none{
  display: none;
}

html, body, #map-index-div {
  height: 100%;
}

.ermes-menu-tabs{
  background-color: rgba(255,255,255,0.8);
  border-style: solid;
  border-color: #4D8FD6;
  border-radius: 10px; 
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.ermes-tab-title{
    color: #4D8FD6;;
    font-weight: bold;
}
.nav-tabs{
    margin: 5px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

.esriScalebar {
    padding: 6px 38px 4px 4px;
    background-color: white;
    border-radius: 4px;
    opacity: 0.6;
    width: auto;
    height: auto;
}
.esriScalebar:hover {
    opacity: 0.99;
}
        
.esriScalebarLabel {
    color: black;
    font-family: Trebuchet MS, Verdana, Tahoma;
    font-size: 9pt;  
}
       
.esriScalebarLine {
    border-color: black;
}

#ermes-logo{
    position: absolute;
    z-index: 5;
    top: 1em;
    left: 5em;
}

#small-logo {
    z-index: 6;
    position:absolute;
    display: block;
    opacity: 1;
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    -o-transition: all 3s;
    transition: all 3s;
}

#small-logo:hover + #big-logo{
    opacity: 1;
    height: 72px;
    width: 359px;
}

#big-logo{
    z-index: 5;
    width: 101px;
    height: 72px;
    position:absolute;
    opacity: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;

}

#initial-logo {
    z-index: 5;
    position:absolute;
    opacity: 1;
    animation: hide-logo 5s;
    -webkit-animation-delay: 10s;
    -moz-animation-delay: 10s;
    -o-animation-delay: 10s;
    animation-delay: 10s;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    display: block;
    height: 72px;
    width: 359px;
}

@keyframes hide-logo {
    from {
        display: block;
        height: 72px;
        width: 359px;
        opacity: 1;
    }
    to   {
        z-index: 1;
        opacity: 0.3;
        visibility: hidden;
        height: 72px;
        width: 101px;
    }
}

#time-slider-container-div{
    position: absolute;
    width: 50%;
    z-index: 30;
    left: 25%;
    bottom: 10%;
    text-align: center;
}

#time-slider-elements-container{
    max-width: 38em;
    min-width: 100%;
    /*width: 100%;*/
    display: inline-block;
}

#play-slider-button-div{
    position: relative;
    display: inline-block;
}

#timeSliderDiv {
    position: relative;
    display: inline-block;
    width: 80%;
    margin-left: 1em;
}

.inline-buttons {
    display: inline-block;
}

/*#chart-as-png{*/
    /*position: absolute;*/
    /*top: 0;*/
    /*z-index: -100;*/
/*}*/


.esriPrintButton{

}

#coordinates-div{
    position: absolute;
    right: 2%;
    bottom: 15%;
    z-index: 25;
    /*padding: 6px 38px 4px 4px;*/
    background-color: white;
    border-radius: 4px;
    opacity: 0.6;
    width: 20%;
    /*min-width: 40%;*/
}

#coordinates-div:hover{
    opacity: 0.99;
}

#loading-icon-div{
    position: absolute;
    left: 45%;
    top: 30%;
    width: 7em;
    height: 7em;
    text-align: center;
}

.loading-icon-div-hidden{
    display: none;
}

.loading-icon-div-display{
    display: block;
}
/*#play-slider-button{*/

/*}*/
