#basic-container-div{
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 35;
  max-width: 40%;
  min-width: 40%;
}

#main-raster-name{
  position: absolute;
  bottom: 2em;
  right: 1em;
  z-index: 35;
  border:solid 3px #254ec7;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright:8px;
  -moz-border-radius-bottomleft:8px;
  -moz-border-radius-bottomright:8px;
  -webkit-border-top-left-radius:8px;
  -webkit-border-top-right-radius:8px;
  -webkit-border-bottom-left-radius:8px;
  -webkit-border-bottom-right-radius:8px;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
  background-color: #FFFFFF;
  padding: 5px;
  opacity: 0.6;
}

#main-raster-name:hover {
  opacity: 0.99;
}

#compared-raster-name{
  position: absolute;
  bottom: 5em;
  left: 1em;
  z-index: 35;
  border:solid 3px #254ec7;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright:8px;
  -moz-border-radius-bottomleft:8px;
  -moz-border-radius-bottomright:8px;
  -webkit-border-top-left-radius:8px;
  -webkit-border-top-right-radius:8px;
  -webkit-border-bottom-left-radius:8px;
  -webkit-border-bottom-right-radius:8px;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
  background-color: #FFFFFF;
  padding: 5px;
  opacity: 0.6;
}

#compared-raster-name:hover {
  opacity: 0.99;
}

#legend-hover-div{
    position: absolute;
    bottom: 10em;
    left: 1em;
    z-index: 35;
    border:solid 3px #254ec7;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright:8px;
    -moz-border-radius-bottomleft:8px;
    -moz-border-radius-bottomright:8px;
    -webkit-border-top-left-radius:8px;
    -webkit-border-top-right-radius:8px;
    -webkit-border-bottom-left-radius:8px;
    -webkit-border-bottom-right-radius:8px;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    background-color: #FFFFFF;
    padding: 5px;
    opacity: 1;
}

#legend-hover-div:hover #legend-div{
    display: block;
}


#legend-div{

    display: none;
}

.visible{
  visibility: visible;
}

.notvisible{
  visibility: hidden;
}

html, body, #map-index-div {
  height: 100%;
}

.ermes-menu-tabs{
  background-color: rgba(255,255,255,0.8);
  border-style: solid;
  border-color: #4D8FD6;
  border-radius: 10px; 
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.ermes-tab-title{
    color: #219124;
    font-weight: bold;
}
.nav-tabs{
    margin: 5px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}



.esriScalebar {
    padding: 6px 38px 4px 4px;
    background-color: white;
    border-radius: 4px;
    opacity: 0.6;
    width: auto;
    height: auto;
}
.esriScalebar:hover {
    opacity: 0.99;
}
        
.esriScalebarLabel {
    color: black;
    font-family: Trebuchet MS, Verdana, Tahoma;
    font-size: 9pt;  
}
       
.esriScalebarLine {
    border-color: black;
}

#ermes-logo {
    position: absolute;
    z-index: 5;
    top: 1em;
    left: 5em;
}