<div>
	<div class="btn-group">
	  <button type="button" class="btn btn-primary" id="comparing-mosaic-selector-button">Select Mosaic</button>
	  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu scrollable-menu" role="menu" id="comparing-mosaics-list-ul">
	 
	  </ul>
	</div>

	<div class="btn-group">
	  <button type="button" class="btn btn-primary" id="comparing-raster-selector-button">Select Raster</button>
	  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu scrollable-menu" role="menu" id="comparing-rasters-list-ul">
	 
	  </ul>

	</div>
	<div id="comparing-button-container">
	</div>
	<div id="comparing-widget-container">
	</div>
</div>