<div>

    <div class="btn-group ermes-dropdown-div">
        <button type="button" class="btn btn-primary dropdown-toggle ermes-dropdown-inner-button" data-toggle="dropdown" id="comparing-year-mosaic-selector-button">
            2016
            <span class="glyphicon glyphicon-chevron-down"></span>
        </button>

        <ul class="dropdown-menu scrollable-menu" role="menu" id="comparing-year-mosaics-list-ul">
            <li id="comparing-radio-select-2015"><a href="#">2015</a></li>
            <li id="comparing-radio-select-2016"><a href="#">2016</a></li>
        </ul>
    </div>

	<div class="btn-group ermes-dropdown-div">

        <button type="button" class="btn btn-primary dropdown-toggle ermes-dropdown-inner-button" data-toggle="dropdown" id="comparing-mosaic-selector-button">
            Select ERMES Product:
            <span class="glyphicon glyphicon-chevron-down"></span>
        </button>
        <ul class="dropdown-menu scrollable-menu" role="menu" id="comparing-mosaics-list-ul">
	 
	    </ul>
	</div>

    <div class="btn-group ermes-dropdown-div comparing-dropdown-hidden" id="comparing-rasters-selector-container">
        <button type="button"  class="btn btn-primary dropdown-toggle ermes-dropdown-inner-button" data-toggle="dropdown" id="comparing-raster-selector-button">
            Date
            <span class="glyphicon glyphicon-chevron-down"></span>
        </button>

    	  <ul class="dropdown-menu scrollable-menu" role="menu" id="comparing-rasters-list-ul">
	 
	    </ul>

	</div>

    <hr class="ermes-separator-aspect"/>



    <div id="comparing-div-controls" class="controls-container-half-width">
        <!--<div id="comparing-button-container">-->
        <!--</div>-->
        <!--<div id="comparing-widget-container">-->
        <!--</div>-->
        <button id="close-comparing-button" type="button" class="btn btn-default btn-block settings-button-tools">
            <span aria-hidden="true" class="glyphicon glyphicon-remove-circle"></span>Close
        </button>
    </div>

</div>