<div>
    <label>Valencia: </label>
    <input type="text" class="form-control" id="town-finder-input" placeholder="Insert Town" required>
    <input type="number" class="form-control" id="polygon-finder-input" placeholder="Insert Polygon" required>
    <input type="number" class="form-control" id="parcel-finder-input" placeholder="Insert Parcel" required>
    <!--<button id="query-position-finder-button" class="btn btn-default">Find Position.</button>-->
    <label id="answer-finder-label"></label>

    <div class="controls-container-half-width">
        <button id="query-position-finder-button" type="button" class="btn btn-default btn-block settings-button-tools">
            <span aria-hidden="true" class="glyphicon glyphicon-search"></span>Find
        </button>
    </div>

    <div id="finder-div-controls" class="controls-container-half-width">
        <button id="close-finder-button" type="button" class="btn btn-default btn-block settings-button-tools">
            <span aria-hidden="true" class="glyphicon glyphicon-remove-circle"></span>Close
        </button>
    </div>



</div>