<div>
<div role="tabpanel" class="ermes-menu-tabs hidden-print">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li id="monitoring-tab-button" role="presentation" class="active"><a href="#monitoring" aria-controls="home" role="tab" data-toggle="tab">Monitoring</a></li>
    <li id="comparing-tab-button" role="presentation"><a href="#comparing" aria-controls="profile" role="tab" data-toggle="tab">Comparing</a></li>
    <li id="settings-tab-button" role="presentation"><a href="#settings" aria-controls="messages" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

	<div class="tab-content">
	  <div role="tabpanel" class="tab-pane fade in active" id="monitoring">
	 	 <div id="monitoring-div"></div>
	  </div>
	  <div role="tabpanel" class="tab-pane fade" id="comparing">
	  	<div id="comparing-div"></div>
	  </div>
	  <div role="tabpanel" class="tab-pane fade" id="settings">
	  	<div id="settings-div"></div>
	  </div>
	</div>

</div>
</div>