<div>
    <!--<div role="tabpanel" class="ermes-menu-tabs hidden-print">-->
        <!--<div>-->
            <!--<ul class="nav nav-tabs" role="tablist">-->
                <!--<li id="comparing-tab-button" role="presentation" ><a href="#comparing" aria-controls="profile" role="tab" data-toggle="tab" class="ermes-tab-title">Product Comparison</a></li>-->
            <!--</ul>-->
        <!--</div>-->

        <!--<div class="tab-content">-->
            <!--<div role="tabpanel" class="tab-pane fade" id="comparing">-->
                <!--<div id="comparing-div"></div>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
</div>