<div>
	<div class="btn-group">
	  <button type="button" class="btn btn-primary" id="monitoring-mosaic-selector-button">ERMES Product</button>
	  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu scrollable-menu" role="menu" id="monitoring-mosaics-list-ul">
	 
	  </ul>
	</div>

	<div class="btn-group">
	  <button type="button" class="btn btn-primary" id="monitoring-raster-selector-button">Date</button>
	  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu scrollable-menu" role="menu" id="monitoring-rasters-list-ul">
	 
	  </ul>

	</div>

	<div class="btn-group">
	  <button type="button" class="btn btn-primary" id="clean-raster-map">Clean Map</button>
	</div>
	<div id="monitoring-widget-container">
	</div>
</div>