<div id="plot-widget">
  <div id="raster-description">
    <h3 id="chart-title">Titulo</h3>
    <p id="chart-current-value">
      <b id="chart-value-text"></b>
      <b id="chart-value-value"></b>
      <b id="chart-selected-point-text"></b>
      <b id="chart-selected-point-value"></b>
    </p>
  </div>
  <div id="raster-chart">
  </div>

  <div>
    <div class="inline-buttons">
      <button id="close-chart-button" class="btn btn-default settings-button-tools">
        <span aria-hidden="true" class="glyphicon glyphicon-remove-circle"></span>Close chart
      </button>
    </div>

    <div class="inline-buttons">
      <button id="export-chart-button" class="btn btn-default settings-button-tools">
        <span aria-hidden="true" class="glyphicon glyphicon-remove-circle"></span>Export as PNG
      </button>
    </div>

    <div class="inline-buttons">
      <button id="export-csv-button" class="btn btn-default settings-button-tools">
        <span aria-hidden="true" class="glyphicon glyphicon-save"></span>Export as CSV
      </button>
    </div>
  </div>


</div>