<div>
	<!--<div>-->

		<!--<label class="radio-inline"><input id="radio-select-2015" type="radio" name="products-year-radio">2015</label>-->
		<!--<label class="radio-inline"><input id="radio-select-2016" type="radio" name="products-year-radio" checked>2016</label>-->
	<!--</div>-->
	<div class="btn-group ermes-dropdown-div">
		<button type="button" class="btn btn-primary dropdown-toggle ermes-dropdown-inner-button" data-toggle="dropdown" id="year-mosaic-selector-button">
			2016
			<span class="glyphicon glyphicon-chevron-down"></span>
		</button>

		<ul class="dropdown-menu scrollable-menu" role="menu" id="year-mosaics-list-ul">
			<li id="radio-select-2015"><a href="#">2015</a></li>
			<li id="radio-select-2016"><a href="#">2016</a></li>
		</ul>
	</div>
	<div class="btn-group ermes-dropdown-div">
	  <button type="button" class="btn btn-primary dropdown-toggle ermes-dropdown-inner-button" data-toggle="dropdown" id="monitoring-mosaic-selector-button">
		  Select ERMES Product:
		  <span class="glyphicon glyphicon-chevron-down"></span>
	  </button>

	  <ul class="dropdown-menu scrollable-menu" role="menu" id="monitoring-mosaics-list-ul">

	  </ul>
	</div>

	<div class="btn-group monitoring-dropdown-hidden ermes-dropdown-div" id="monitoring-rasters-selector-container">
	  <button type="button"  class="btn btn-primary dropdown-toggle ermes-dropdown-inner-button" data-toggle="dropdown"  id="monitoring-raster-selector-button">
		  Date
		  <span class="glyphicon glyphicon-chevron-down"></span>
	  </button>
	  <ul class="dropdown-menu scrollable-menu" role="menu" id="monitoring-rasters-list-ul">

	  </ul>
	</div>

	<hr class="ermes-separator-aspect"/>

	<div class="controls-container-half-width">
		<button id="clean-raster-map" type="button" class="btn btn-default btn-block settings-button-tools">
			<span aria-hidden="true" class="glyphicon glyphicon-erase"></span>Clear Map
		</button>
		<button id="close-monitoring-button" type="button" class="btn btn-default btn-block settings-button-tools">
			<span aria-hidden="true" class="glyphicon glyphicon-remove-circle"></span>Close
		</button>
	</div>



</div>