<div>
	<div class="btn-group ermes-dropdown-div">

	  <button type="button" class="btn btn-primary dropdown-toggle ermes-dropdown-inner-button" data-toggle="dropdown" id="monitoring-mosaic-selector-button">
		  ERMES Product
		  <span class="glyphicon glyphicon-chevron-down"></span>
	  </button>

	  <ul class="dropdown-menu scrollable-menu" role="menu" id="monitoring-mosaics-list-ul">

	  </ul>
	</div>

	<div class="btn-group monitoring-dropdown-hidden ermes-dropdown-div" id="monitoring-rasters-selector-container">
	  <button type="button"  class="btn btn-primary dropdown-toggle ermes-dropdown-inner-button" data-toggle="dropdown"  id="monitoring-raster-selector-button">
		  Date
		  <span class="glyphicon glyphicon-chevron-down"></span>
	  </button>
	  <ul class="dropdown-menu scrollable-menu" role="menu" id="monitoring-rasters-list-ul">

	  </ul>
	</div>

	<hr class="ermes-separator-aspect"/>

	<div class="controls-container-half-width">
		<button id="clean-raster-map" type="button" class="btn btn-default btn-block settings-button-tools">
			<span aria-hidden="true" class="glyphicon glyphicon-erase"></span>Clear Map
		</button>
		<button id="close-monitoring-button" type="button" class="btn btn-default btn-block settings-button-tools">
			<span aria-hidden="true" class="glyphicon glyphicon-remove-circle"></span>Close
		</button>
	</div>



</div>