<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#local-tab" aria-controls="home" role="tab" data-toggle="tab">Local Data</a></li>
        <li role="presentation"><a href="#model-tab" aria-controls="profile" role="tab" data-toggle="tab">Model Data</a></li>
        <li role="presentation"><a href="#chart-tab" aria-controls="messages" role="tab" data-toggle="tab">Chart</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="local-tab">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="agrochemicalsHeading">
                    <h4 class="panel-title">
                        <a id="agrochemicals" role="button" data-toggle="collapse" data-parent="#accordion" href="#agrochemicalsCollapse" aria-expanded="true" aria-controls="agrochemicalsCollapse">
                            Agrochemicals (0):
                        </a>
                    </h4>
                </div>
                <div id="agrochemicalsCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="agrochemicalsHeading">
                    <div class="panel-body" id="agrochemicals-data">
                        <nav>
                            <ul class="pager">
                                <li><a id="agrochemicals-previous-button" href="#">Prev</a></li>
                                <li><a id="agrochemicals-edit-button" href="#" data-toggle="modal" data-target="#edit-product-form">Edit</a></li>
                                <li><a id="agrochemicals-next-button" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="cropInfoHeading">
                    <h4 class="panel-title">
                        <a id="cropInfos" class="cropInfoCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#cropInfoCollapse" aria-expanded="false" aria-controls="cropInfoCollapse">
                            Crop Info (0):
                        </a>
                    </h4>
                </div>
                <div id="cropInfoCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="cropInfoHeading">
                    <div class="panel-body" id="cropInfos-data">
                        <nav>
                            <ul class="pager">
                                <li><a id="cropInfo-previous-button" href="#">Prev</a></li>
                                <li><a id="cropInfo-edit-button" href="#" data-toggle="modal" data-target="#edit-product-form">Edit</a></li>
                                <li><a id="cropInfo-next-button" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="diseasesHeading">
                    <h4 class="panel-title">
                        <a id="diseases" role="button" data-toggle="collapse" data-parent="#accordion" href="#diseasesCollapse" aria-expanded="true" aria-controls="diseasesCollapse">
                            Diseases (0):
                        </a>
                    </h4>
                </div>
                <div id="diseasesCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="diseasesHeading">
                    <div class="panel-body" id="diseases-data">
                        <nav>
                            <ul class="pager">
                                <li><a id="disease-previous-button" href="#">Prev</a></li>
                                <li><a id="disease-edit-button" href="#" data-toggle="modal" data-target="#edit-product-form">Edit</a></li>
                                <li><a id="disease-next-button" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="fertilizersHeading">
                    <h4 class="panel-title">
                        <a id="fertilizers" class="fertilizersCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#fertilizersCollapse" aria-expanded="false" aria-controls="fertilizersCollapse">
                            Fertilizers (0):
                        </a>
                    </h4>
                </div>
                <div id="fertilizersCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fertilizersHeading">
                    <div class="panel-body" id="fertilizers-data">
                        <nav>
                            <ul class="pager">
                                <li><a id="fertilizer-previous-button" href="#">Prev</a></li>
                                <li><a id="fertilizer-edit-button" href="#" data-toggle="modal" data-target="#edit-product-form">Edit</a></li>
                                <li><a id="fertilizer-next-button" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="irrigationInfosHeading">
                    <h4 class="panel-title">
                        <a id="irrigationInfos" role="button" data-toggle="collapse" data-parent="#accordion" href="#irrigationInfosCollapse" aria-expanded="true" aria-controls="irrigationInfosCollapse">
                            Irrigation Infos (0):
                        </a>
                    </h4>
                </div>
                <div id="irrigationInfosCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="irrigationInfosHeading">
                    <div class="panel-body" id="irrigationInfos-data">
                        <nav>
                            <ul class="pager">
                                <li><a id="irrigationInfos-previous-button" href="#">Prev</a></li>
                                <li><a id="irrigationInfos-edit-button" href="#" data-toggle="modal" data-target="#edit-product-form">Edit</a></li>
                                <li><a id="irrigationInfos-next-button" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="observationsHeading">
                    <h4 class="panel-title">
                        <a id="observations" class="observationsCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#observationsCollapse" aria-expanded="false" aria-controls="observationsCollapse">
                            Observations (0):
                        </a>
                    </h4>
                </div>
                <div id="observationsCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="observationsHeading">
                    <div class="panel-body" id="observations-data">
                        <nav>
                            <ul class="pager">
                                <li><a id="observation-previous-button" href="#">Prev</a></li>
                                <li><a id="observation-edit-button" href="#" data-toggle="modal" data-target="#edit-product-form">Edit</a></li>
                                <li><a id="observation-next-button" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="parcelStatusHeading">
                    <h4 class="panel-title">
                        <a id="parcelStatus" role="button" data-toggle="collapse" data-parent="#accordion" href="#parcelStatusCollapse" aria-expanded="true" aria-controls="parcelStatusCollapse">
                            Parcel Status (0):
                        </a>
                    </h4>
                </div>
                <div id="parcelStatusCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="parcelStatusHeading">
                    <div class="panel-body" id="parcelStatus-data">
                        <nav>
                            <ul class="pager">
                                <li><a id="parcelStatus-previous-button" href="#">Prev</a></li>
                                <li><a id="parcelStatus-edit-button" href="#" data-toggle="modal" data-target="#edit-product-form">Edit</a></li>
                                <li><a id="parcelStatus-next-button" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="phatogensHeading">
                    <h4 class="panel-title">
                        <a id="phatogens" class="phatogensCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#phatogensCollapse" aria-expanded="false" aria-controls="phatogensCollapse">
                            Pathogens (0):
                        </a>
                    </h4>
                </div>
                <div id="phatogensCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="phatogensHeading">
                    <div class="panel-body" id="phatogens-data">
                        <nav>
                            <ul class="pager">
                                <li><a id="pathogen-previous-button" href="#">Prev</a></li>
                                <li><a id="pathogen-edit-button" href="#" data-toggle="modal" data-target="#edit-product-form">Edit</a></li>
                                <li><a id="pathogen-next-button" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="phenologiesHeading">
                    <h4 class="panel-title">
                        <a id="phenologies" role="button" data-toggle="collapse" data-parent="#accordion" href="#phenologiesCollapse" aria-expanded="true" aria-controls="phenologiesCollapse">
                            Phenologies (0):
                        </a>
                    </h4>
                </div>
                <div id="phenologiesCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="phenologiesHeading">
                    <div class="panel-body" id="phenologies-data">
                        <nav>
                            <ul class="pager">
                                <li><a id="phenology-previous-button" href="#">Prev</a></li>
                                <li><a id="phenology-edit-button" href="#" data-toggle="modal" data-target="#edit-product-form">Edit</a></li>
                                <li><a id="phenology-next-button" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="soilsHeading">
                    <h4 class="panel-title">
                        <a id="soils" class="soilsCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#soilsCollapse" aria-expanded="false" aria-controls="soilsCollapse">
                            Soils (0):
                        </a>
                    </h4>
                </div>
                <div id="soilsCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="soilsHeading">
                    <div class="panel-body" id="soils-data">
                        <nav>
                            <ul class="pager">
                                <li><a id="soil-previous-button" href="#">Prev</a></li>
                                <li><a id="soil-edit-button" href="#" data-toggle="modal" data-target="#edit-product-form">Edit</a></li>
                                <li><a id="soil-next-button" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="weedsHeading">
                    <h4 class="panel-title">
                        <a id="weeds" role="button" data-toggle="collapse" data-parent="#accordion" href="#weedsCollapse" aria-expanded="true" aria-controls="weedsCollapse">
                            Weeds (0):
                        </a>
                    </h4>
                </div>
                <div id="weedsCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="weedsHeading">
                    <div class="panel-body" id="weeds-data">
                        <nav>
                            <ul class="pager">
                                <li><a id="weed-previous-button" href="#">Prev</a></li>
                                <li><a id="weed-edit-button" href="#" data-toggle="modal" data-target="#edit-product-form">Edit</a></li>
                                <li><a id="weed-next-button" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="yieldsHeading">
                    <h4 class="panel-title">
                        <a id="yields" class="yieldsCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#yieldsCollapse" aria-expanded="false" aria-controls="yieldsCollapse">
                            Yields (0):
                        </a>
                    </h4>
                </div>
                <div id="yieldsCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="yieldsHeading">
                    <div class="panel-body" id="yields-data">
                        <nav>
                            <ul class="pager">
                                <li><a id="yield-previous-button" href="#">Prev</a></li>
                                <li><a id="yield-edit-button" href="#" data-toggle="modal" data-target="#edit-product-form">Edit</a></li>
                                <li><a id="yield-next-button" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="model-tab">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="developmentStageHeading">
                    <h4 class="panel-title">
                        <a id="developmentStage" class="developmentStageCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#developmentStageCollapse" aria-expanded="false" aria-controls="developmentStageCollapse">
                            Development Stage (WARM) (0):
                        </a>
                    </h4>
                </div>
                <div id="developmentStageCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="developmentStageHeading">
                    <div class="panel-body" id="developmentStage-data">
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="infectionHeading">
                    <h4 class="panel-title">
                        <a id="infection" class="infectionCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#infectionCollapse" aria-expanded="false" aria-controls="infectionCollapse">
                            Infections (WARM) (0):
                        </a>
                    </h4>
                </div>
                <div id="infectionCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="infectionHeading">
                    <div class="panel-body" id="infection-data">
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="abioticRiskHeading">
                    <h4 class="panel-title">
                        <a id="abioticRisk" class="abioticRiskCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#abioticRiskCollapse" aria-expanded="false" aria-controls="abioticRiskCollapse">
                            Abiotic Risks (WARM) (0):
                        </a>
                    </h4>
                </div>
                <div id="abioticRiskCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="abioticRiskHeading">
                    <div class="panel-body" id="abioticRisk-data">
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="biomassHeading">
                    <h4 class="panel-title">
                        <a id="biomass" class="biomassCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#biomassCollapse" aria-expanded="false" aria-controls="biomassCollapse">
                            Biomasses (WARM) (0):
                        </a>
                    </h4>
                </div>
                <div id="biomassCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="biomassHeading">
                    <div class="panel-body" id="biomass-data">
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="penicleBiomassHeading">
                    <h4 class="panel-title">
                        <a id="penicleBiomass" class="penicleBiomassCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#penicleBiomassCollapse" aria-expanded="false" aria-controls="penicleBiomassCollapse">
                            Penicle Biomasses (WARM) (0):
                        </a>
                    </h4>
                </div>
                <div id="penicleBiomassCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="penicleBiomassHeading">
                    <div class="panel-body" id="penicleBiomass-data">
                    </div>
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="chart-tab">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <button class="btn btn-primary" id="show-chart-from-info-window">Show Chart</button>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit-product-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="edit-product-form-title"></h4>
                </div>
                <div id="edit-product-form-content" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" id="confirm-edit-product-button" class="btn btn-primary">CONFIRM CHANGES</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel Editing</button>
                </div>
            </div>
        </div>
    </div>

</div>
