<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="agrochemicalsHeading">
            <h4 class="panel-title">
                <a id="agrochemicals" role="button" data-toggle="collapse" data-parent="#accordion" href="#agrochemicalsCollapse" aria-expanded="true" aria-controls="agrochemicalsCollapse">
                   Agrochemicals (0):
                </a>
            </h4>
        </div>
        <div id="agrochemicalsCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="agrochemicalsHeading">
            <div class="panel-body" id="agrochemicals-data">

            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="cropInfoHeading">
            <h4 class="panel-title">
                <a id="cropInfos" class="cropInfoCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#cropInfoCollapse" aria-expanded="false" aria-controls="cropInfoCollapse">
                    Crop Info (0):
                </a>
            </h4>
        </div>
        <div id="cropInfoCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="cropInfoHeading">
            <div class="panel-body" id="cropInfos-data">
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="diseasesHeading">
            <h4 class="panel-title">
                <a id="diseases" role="button" data-toggle="collapse" data-parent="#accordion" href="#diseasesCollapse" aria-expanded="true" aria-controls="diseasesCollapse">
                    Diseases (0):
                </a>
            </h4>
        </div>
        <div id="diseasesCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="diseasesHeading">
            <div class="panel-body" id="diseases-data">
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="fertilizersHeading">
            <h4 class="panel-title">
                <a id="fertilizers" class="fertilizersCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#fertilizersCollapse" aria-expanded="false" aria-controls="fertilizersCollapse">
                   Fertilizers (0):
                </a>
            </h4>
        </div>
        <div id="fertilizersCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fertilizersHeading">
            <div class="panel-body" id="fertilizers-data">
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="irrigationInfosHeading">
            <h4 class="panel-title">
                <a id="irrigationInfos" role="button" data-toggle="collapse" data-parent="#accordion" href="#irrigationInfosCollapse" aria-expanded="true" aria-controls="irrigationInfosCollapse">
                    Irrigation Infos (0):
                </a>
            </h4>
        </div>
        <div id="irrigationInfosCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="irrigationInfosHeading">
            <div class="panel-body" id="irrigationInfos-data">

            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="observationsHeading">
            <h4 class="panel-title">
                <a id="observations" class="observationsCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#observationsCollapse" aria-expanded="false" aria-controls="observationsCollapse">
                    Observations (0):
                </a>
            </h4>
        </div>
        <div id="observationsCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="observationsHeading">
            <div class="panel-body" id="observations-data">
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="parcelStatusHeading">
            <h4 class="panel-title">
                <a id="parcelStatus" role="button" data-toggle="collapse" data-parent="#accordion" href="#parcelStatusCollapse" aria-expanded="true" aria-controls="parcelStatusCollapse">
                    Parcel Status (0):
                </a>
            </h4>
        </div>
        <div id="parcelStatusCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="parcelStatusHeading">
            <div class="panel-body" id="parcelStatus-data">
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="phatogensHeading">
            <h4 class="panel-title">
                <a id="phatogens" class="phatogensCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#phatogensCollapse" aria-expanded="false" aria-controls="phatogensCollapse">
                    Pathogens (0):
                </a>
            </h4>
        </div>
        <div id="phatogensCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="phatogensHeading">
            <div class="panel-body" id="phatogens-data">
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="phenologiesHeading">
            <h4 class="panel-title">
                <a id="phenologies" role="button" data-toggle="collapse" data-parent="#accordion" href="#phenologiesCollapse" aria-expanded="true" aria-controls="phenologiesCollapse">
                    Phenologies (0):
                </a>
            </h4>
        </div>
        <div id="phenologiesCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="phenologiesHeading">
            <div class="panel-body" id="phenologies-data">

            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="soilsHeading">
            <h4 class="panel-title">
                <a id="soils" class="soilsCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#soilsCollapse" aria-expanded="false" aria-controls="soilsCollapse">
                    Soils (0):
                </a>
            </h4>
        </div>
        <div id="soilsCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="soilsHeading">
            <div class="panel-body" id="soils-data">
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="weedsHeading">
            <h4 class="panel-title">
                <a id="weeds" role="button" data-toggle="collapse" data-parent="#accordion" href="#weedsCollapse" aria-expanded="true" aria-controls="weedsCollapse">
                    Weeds (0):
                </a>
            </h4>
        </div>
        <div id="weedsCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="weedsHeading">
            <div class="panel-body" id="weeds-data">
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="yieldsHeading">
            <h4 class="panel-title">
                <a id="yields" class="yieldsCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#yieldsCollapse" aria-expanded="false" aria-controls="yieldsCollapse">
                    Yields (0):
                </a>
            </h4>
        </div>
        <div id="yieldsCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="yieldsHeading">
            <div class="panel-body" id="yields-data">
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="developmentStageHeading">
            <h4 class="panel-title">
                <a id="developmentStage" class="developmentStageCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#developmentStageCollapse" aria-expanded="false" aria-controls="developmentStageCollapse">
                    Development Stage (WARM) (0):
                </a>
            </h4>
        </div>
        <div id="developmentStageCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="developmentStageHeading">
            <div class="panel-body" id="developmentStage-data">
            </div>
        </div>
    </div>
</div>
