<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a id="info-window-menu-title-local" href="#local-tab" aria-controls="home" role="tab" data-toggle="tab">Local <br>Data</a></li>
        <li role="presentation"><a id="info-window-menu-title-alert" href="#alert-tab" aria-controls="home" role="tab" data-toggle="tab">Alerts</a></li>
        <li role="presentation"><a id="info-window-menu-title-model" href="#model-tab" aria-controls="profile" role="tab" data-toggle="tab">Model <br>Data</a></li>
        <li role="presentation"><a id="info-window-menu-title-meteo" href="#meteo-tab" aria-controls="profile" role="tab" data-toggle="tab">Meteo</a></li>
        <li role="presentation"><a id="info-window-menu-title-chart" href="#chart-tab" aria-controls="messages" role="tab" data-toggle="tab">Chart <br>Satellite<br>Time <br>Series</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="local-tab">



            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="cropInfoHeading">
                    <h4 class="panel-title">
                        <a id="cropInfos" class="cropInfoCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#cropInfoCollapse" aria-expanded="false" aria-controls="cropInfoCollapse">
                            <ins id="info-window-crop-info-label">Crop Info</ins> <ins id="cropInfos-number">(0)</ins>
                        </a>
                    </h4>
                </div>
                <div id="cropInfoCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="cropInfoHeading" >
                    <div class="panel-body" id="cropInfos-data" >
                        <nav>
                            <ul id="cropInfos-nav" class="pager display-none">
                                <li><a id="cropInfo-previous-button" href="#">Prev</a></li>
                                <li><a id="cropInfo-edit-button" href="#" data-toggle="modal" data-target="#edit-product-form">Edit</a></li>
                                <li><a id="cropInfo-next-button" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="soilsHeading">
                    <h4 class="panel-title">
                        <a id="soils" class="soilsCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#soilsCollapse" aria-expanded="false" aria-controls="soilsCollapse">
                            <ins id="info-window-soils-label">Soil Type</ins> <ins id="soils-number">(0)</ins>
                        </a>
                    </h4>
                </div>
                <div id="soilsCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="soilsHeading">
                    <div class="panel-body" id="soils-data">
                        <nav>
                            <ul id="soils-nav" class="pager display-none">
                                <li><a id="soil-previous-button" href="#">Prev</a></li>
                                <li><a id="soil-edit-button" href="#" data-toggle="modal" data-target="#edit-product-form">Edit</a></li>
                                <li><a id="soil-next-button" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="parcelStatusHeading">
                    <h4 class="panel-title">
                        <a id="parcelStatuses" role="button" data-toggle="collapse" data-parent="#accordion" href="#parcelStatusCollapse" aria-expanded="true" aria-controls="parcelStatusCollapse">
                            <ins id="info-window-parcelStatus-label">Soil Condition</ins> <ins id="parcelStatuses-number">(0)</ins>

                        </a>
                    </h4>
                </div>
                <div id="parcelStatusCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="parcelStatusHeading">
                    <div class="panel-body" id="parcelStatuses-data">
                        <nav>
                            <ul id="parcelStatus-nav" class="pager display-none">
                                <li><a id="parcelStatus-previous-button" href="#">Prev</a></li>
                                <li><a id="parcelStatus-edit-button" href="#" data-toggle="modal" data-target="#edit-product-form">Edit</a></li>
                                <li><a id="parcelStatus-next-button" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="phenologiesHeading">
                    <h4 class="panel-title">
                        <a id="phenologies" role="button" data-toggle="collapse" data-parent="#accordion" href="#phenologiesCollapse" aria-expanded="true" aria-controls="phenologiesCollapse">
                            <ins id="info-window-phenologies-label">Crop Phenology</ins> <ins id="phenologies-number">(0)</ins>

                        </a>
                    </h4>
                </div>
                <div id="phenologiesCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="phenologiesHeading">
                    <div class="panel-body" id="phenologies-data">
                        <nav>
                            <ul id="phenologies-nav" class="pager display-none">
                                <li><a id="phenology-previous-button" href="#">Prev</a></li>
                                <li><a id="phenology-edit-button" href="#" data-toggle="modal" data-target="#edit-product-form">Edit</a></li>
                                <li><a id="phenology-next-button" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="phatogensHeading">
                    <h4 class="panel-title">
                        <a id="phatogens" class="phatogensCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#phatogensCollapse" aria-expanded="false" aria-controls="phatogensCollapse">
                            <ins id="info-window-phatogens-label">Insects</ins> <ins id="phatogens-number">(0)</ins>

                        </a>
                    </h4>
                </div>
                <div id="phatogensCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="phatogensHeading">
                    <div class="panel-body" id="phatogens-data">
                        <nav>
                            <ul id="phatogens-nav" class="pager display-none">
                                <li><a id="pathogen-previous-button" href="#">Prev</a></li>
                                <li><a id="pathogen-edit-button" href="#" data-toggle="modal" data-target="#edit-product-form">Edit</a></li>
                                <li><a id="pathogen-next-button" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="diseasesHeading">
                    <h4 class="panel-title">
                        <a id="diseases" role="button" data-toggle="collapse" data-parent="#accordion" href="#diseasesCollapse" aria-expanded="true" aria-controls="diseasesCollapse">
                            <ins id="info-window-diseases-label">Diseases</ins> <ins id="diseases-number">(0)</ins>
                        </a>
                    </h4>
                </div>
                <div id="diseasesCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="diseasesHeading">
                    <div class="panel-body" id="diseases-data">
                        <nav>
                            <ul id="diseases-nav" class="pager display-none">
                                <li><a id="disease-previous-button" href="#">Prev</a></li>
                                <li><a id="disease-edit-button" href="#" data-toggle="modal" data-target="#edit-product-form">Edit</a></li>
                                <li><a id="disease-next-button" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="weedsHeading">
                    <h4 class="panel-title">
                        <a id="weeds" role="button" data-toggle="collapse" data-parent="#accordion" href="#weedsCollapse" aria-expanded="true" aria-controls="weedsCollapse">
                            <ins id="info-window-weeds-label">Weeds</ins> <ins id="weeds-number">(0)</ins>
                        </a>
                    </h4>
                </div>
                <div id="weedsCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="weedsHeading">
                    <div class="panel-body" id="weeds-data">
                        <nav>
                            <ul id="weeds-nav" class="pager display-none">
                                <li><a id="weed-previous-button" href="#">Prev</a></li>
                                <li><a id="weed-edit-button" href="#" data-toggle="modal" data-target="#edit-product-form">Edit</a></li>
                                <li><a id="weed-next-button" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="fertilizersHeading">
                    <h4 class="panel-title">
                        <a id="fertilizers" class="fertilizersCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#fertilizersCollapse" aria-expanded="false" aria-controls="fertilizersCollapse">
                            <ins id="info-window-fertilizers-label">Fertilizers</ins> <ins id="fertilizers-number">(0)</ins>
                        </a>
                    </h4>
                </div>
                <div id="fertilizersCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fertilizersHeading">
                    <div class="panel-body" id="fertilizers-data">
                        <nav>
                            <ul id="fertilizers-nav" class="pager display-none">
                                <li><a id="fertilizer-previous-button" href="#">Prev</a></li>
                                <li><a id="fertilizer-edit-button" href="#" data-toggle="modal" data-target="#edit-product-form">Edit</a></li>
                                <li><a id="fertilizer-next-button" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="agrochemicalsHeading">
                    <h4 class="panel-title">
                        <a id="agrochemicals" role="button" data-toggle="collapse" data-parent="#accordion" href="#agrochemicalsCollapse" aria-expanded="true" aria-controls="agrochemicalsCollapse">
                            <ins id="info-window-agrochemicals-label">Agrochemicals</ins> <ins id="agrochemicals-number">(0)</ins>
                        </a>
                    </h4>
                </div>
                <div id="agrochemicalsCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="agrochemicalsHeading">
                    <div class="panel-body" id="agrochemicals-data">
                        <nav>
                            <ul id="agrochemicals-nav" class="pager display-none">
                                <li><a id="agrochemicals-previous-button" href="#">Prev</a></li>
                                <li><a id="agrochemicals-edit-button" href="#" data-toggle="modal" data-target="#edit-product-form">Edit</a></li>
                                <li><a id="agrochemicals-next-button" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="irrigationInfosHeading">
                    <h4 class="panel-title">
                        <a id="irrigationInfos" role="button" data-toggle="collapse" data-parent="#accordion" href="#irrigationInfosCollapse" aria-expanded="true" aria-controls="irrigationInfosCollapse">
                            <ins id="info-window-irrigationInfos-label">Irrigation</ins> <ins id="irrigationInfos-number">(0)</ins>
                        </a>
                    </h4>
                </div>
                <div id="irrigationInfosCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="irrigationInfosHeading">
                    <div class="panel-body" id="irrigationInfos-data">
                        <nav>
                            <ul id="irrigationInfos-nav" class="pager display-none">
                                <li><a id="irrigationInfos-previous-button" href="#">Prev</a></li>
                                <li><a id="irrigationInfos-edit-button" href="#" data-toggle="modal" data-target="#edit-product-form">Edit</a></li>
                                <li><a id="irrigationInfos-next-button" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="yieldsHeading">
                    <h4 class="panel-title">
                        <a id="yields" class="yieldsCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#yieldsCollapse" aria-expanded="false" aria-controls="yieldsCollapse">
                            <ins id="info-window-yields-label">Yields</ins> <ins id="yields-number">(0)</ins>
                        </a>
                    </h4>
                </div>
                <div id="yieldsCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="yieldsHeading">
                    <div class="panel-body" id="yields-data">
                        <nav>
                            <ul id="yields-nav" class="pager display-none">
                                <li><a id="yield-previous-button" href="#">Prev</a></li>
                                <li><a id="yield-edit-button" href="#" data-toggle="modal" data-target="#edit-product-form">Edit</a></li>
                                <li><a id="yield-next-button" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="observationsHeading">
                    <h4 class="panel-title">
                        <a id="observations" class="observationsCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#observationsCollapse" aria-expanded="false" aria-controls="observationsCollapse">
                            <ins id="info-window-observations-label">Observations</ins> <ins id="observations-number">(0)</ins>
                        </a>
                    </h4>
                </div>
                <div id="observationsCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="observationsHeading">
                    <div class="panel-body" id="observations-data">
                        <nav>
                            <ul id="observations-nav" class="pager display-none">
                                <li><a id="observation-previous-button" href="#">Prev</a></li>
                                <li><a id="observation-edit-button" href="#" data-toggle="modal" data-target="#edit-product-form">Edit</a></li>
                                <li><a id="observation-next-button" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </div>


        <div role="tabpanel" class="tab-pane active" id="alert-tab">

            <div class="panel-heading" role="tab">
                <h4 id="remove-alert-button-h4" class="panel-title display-none">
                    <button class="btn btn-danger" id="remove-alert-button" data-parcelid="">Remove Alert</button>
                </h4>
                <h4 id="remove-alert-text-h4" class="panel-title display-none">
                    <p>This parcel has no alerts.</p>
                </h4>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="alertHeading">
                    <h4 class="panel-title">
                        <a id="alerts" class="alertCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#alertCollapse" aria-expanded="false" aria-controls="alertCollapse">
                            <ins id="info-window-alert-label">Alerts</ins> <ins id="alert-number">(0)</ins>
                        </a>
                    </h4>
                </div>
                <div id="alertCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="alertHeading" >
                    <div class="panel-body" id="alert-data" >
                        <nav>
                            <ul id="alert-nav" class="pager display-none">
                                <li><a id="alert-previous-button" href="#">Prev</a></li>
                                <li><a id="alert-edit-button" href="#" data-toggle="modal" data-target="#edit-product-form">Edit</a></li>
                                <li><a id="alert-next-button" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>


        <div role="tabpanel" class="tab-pane" id="model-tab">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="developmentStageHeading">
                    <h4 class="panel-title">
                        <a id="developmentStage" class="developmentStageCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#developmentStageCollapse" aria-expanded="false" aria-controls="developmentStageCollapse">
                            <ins id="info-window-developmentStage-label">Rice development stage</ins> <ins id="developmentStage-number">(0)</ins>
                        </a>
                    </h4>
                </div>
                <div id="developmentStageCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="developmentStageHeading">
                    <div class="panel-body" id="developmentStage-data">
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="infectionHeading">
                    <h4 class="panel-title">
                        <a id="infection" class="infectionCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#infectionCollapse" aria-expanded="false" aria-controls="infectionCollapse">
                            <ins id="info-window-infection-label">Potential Risk of Blast Infection</ins> <ins id="infection-number">(0)</ins>
                        </a>
                    </h4>
                </div>
                <div id="infectionCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="infectionHeading">
                    <div class="panel-body" id="infection-data">
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="abioticRiskHeading">
                    <h4 class="panel-title">
                        <a id="abioticRisk" class="abioticRiskCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#abioticRiskCollapse" aria-expanded="false" aria-controls="abioticRiskCollapse">
                            <ins id="info-window-abioticRisk-label">Potential risk of Cold Sterility</ins> <ins id="abioticRisk-number">(0)</ins>
                        </a>
                    </h4>
                </div>
                <div id="abioticRiskCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="abioticRiskHeading">
                    <div class="panel-body" id="abioticRisk-data">
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="biomassHeading">
                    <h4 class="panel-title">
                        <a id="biomass" class="biomassCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#biomassCollapse" aria-expanded="false" aria-controls="biomassCollapse">
                            <ins id="info-window-biomass-label">Above Ground Biomass</ins> <ins id="biomass-number">(0)</ins>
                        </a>
                    </h4>
                </div>
                <div id="biomassCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="biomassHeading">
                    <div class="panel-body" id="biomass-data">
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="penicleBiomassHeading">
                    <h4 class="panel-title">
                        <a id="penicleBiomass" class="penicleBiomassCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#penicleBiomassCollapse" aria-expanded="false" aria-controls="penicleBiomassCollapse">
                            <ins id="info-window-penicleBiomass-label">Penicle Biomasses</ins> <ins id="penicleBiomass-number">(0)</ins>
                        </a>
                    </h4>
                </div>
                <div id="penicleBiomassCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="penicleBiomassHeading">
                    <div class="panel-body" id="penicleBiomass-data">
                    </div>
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="meteo-tab">

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="meteoRadiationHeading">
                    <h4 class="panel-title">
                        <a id="meteoRadiation" class="meteoRadiationCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#meteoRadiationCollapse" aria-expanded="false" aria-controls="meteoRadiationCollapse">
                            <ins id="info-window-meteoRadiation-label">Radiation</ins> <ins id="meteoRadiation-number">(0)</ins>
                        </a>
                    </h4>
                </div>
                <div id="meteoRadiationCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="meteoRadiationHeading">
                    <div class="panel-body" id="meteoRadiation-data">
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="meteoRainfallHeading">
                    <h4 class="panel-title">
                        <a id="meteoRainfall" class="meteoRainfallCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#meteoRainfallCollapse" aria-expanded="false" aria-controls="meteoRainfallCollapse">
                            <ins id="info-window-meteoRainfall-label">Rainfall</ins> <ins id="meteoRainfall-number">(0)</ins>
                        </a>
                    </h4>
                </div>
                <div id="meteoRainfallCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="meteoRainfallHeading">
                    <div class="panel-body" id="meteoRainfall-data">
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="meteoMaximumHumidityHeading">
                    <h4 class="panel-title">
                        <a id="meteoMaximumHumidity" class="meteoMaximumHumidityCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#meteoMaximumHumidityCollapse" aria-expanded="false" aria-controls="meteoMaximumHumidityCollapse">
                            <ins id="info-window-meteoMaximumHumidity-label">Maximum humidity</ins> <ins id="meteoMaximumHumidity-number">(0)</ins>
                        </a>
                    </h4>
                </div>
                <div id="meteoMaximumHumidityCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="meteoMaximumHumidityHeading">
                    <div class="panel-body" id="meteoMaximumHumidity-data">
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="meteoMinimumHumidityHeading">
                    <h4 class="panel-title">
                        <a id="meteoMinimumHumidity" class="meteoMinimumHumidityCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#meteoMinimumHumidityCollapse" aria-expanded="false" aria-controls="meteoMinimumHumidityCollapse">
                            <ins id="info-window-meteoMinimumHumidity-label">Minimum humidity</ins> <ins id="meteoMinimumHumidity-number">(0)</ins>
                        </a>
                    </h4>
                </div>
                <div id="meteoMinimumHumidityCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="meteoMinimumHumidityHeading">
                    <div class="panel-body" id="meteoMinimumHumidity-data">
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="meteoMaximumTemperatureHeading">
                    <h4 class="panel-title">
                        <a id="meteoMaximumTemperature" class="meteoMaximumTemperatureCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#meteoMaximumTemperatureCollapse" aria-expanded="false" aria-controls="meteoMaximumTemperatureCollapse">
                            <ins id="info-window-meteoMaximumTemperature-label">Maximum Temperature</ins> <ins id="meteoMaximumTemperature-number">(0)</ins>
                        </a>
                    </h4>
                </div>
                <div id="meteoMaximumTemperatureCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="meteoMaximumTemperatureHeading">
                    <div class="panel-body" id="meteoMaximumTemperature-data">
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="meteoMinimumTemperatureHeading">
                    <h4 class="panel-title">
                        <a id="meteoMinimumTemperature" class="meteoMinimumTemperatureCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#meteoMinimumTemperatureCollapse" aria-expanded="false" aria-controls="meteoMinimumTemperatureCollapse">
                            <ins id="info-window-meteoMinimumTemperature-label">Minimum Temperature</ins> <ins id="meteoMinimumTemperature-number">(0)</ins>
                        </a>
                    </h4>
                </div>
                <div id="meteoMinimumTemperatureCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="meteoMinimumTemperatureHeading">
                    <div class="panel-body" id="meteoMinimumTemperature-data">
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="meteoWindSpeedHeading">
                    <h4 class="panel-title">
                        <a id="meteoWindSpeed" class="meteoWindSpeedCollapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#meteoWindSpeedCollapse" aria-expanded="false" aria-controls="meteoWindSpeedCollapse">
                            <ins id="info-window-meteoWindSpeed-label">Wind Speed</ins> <ins id="meteoWindSpeed-number">(0)</ins>
                        </a>
                    </h4>
                </div>
                <div id="meteoWindSpeedCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="meteoWindSpeedHeading">
                    <div class="panel-body" id="meteoWindSpeed-data">
                    </div>
                </div>
            </div>

        </div>

        <div role="tabpanel" class="tab-pane" id="chart-tab">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <h4 id="info-window-show-chart-button" class="panel-title display-none">
                        <button class="btn btn-primary" id="show-chart-from-info-window">Show Chart</button>
                    </h4>
                    <h4 id="info-window-show-chart-text" class="panel-title display-none">
                        <p>Select a Product First.</p>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit-product-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="edit-product-form-title"></h4>
                </div>
                <div id="edit-product-form-content" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" id="confirm-edit-product-button" class="btn btn-primary">Confirm Changes</button>
                    <button type="button" id="delete-product-button" class="btn btn-danger">Delete Observation</button>
                    <button type="button" id="cancel-editing-modal-window" class="btn btn-default" data-dismiss="modal">Cancel Editing</button>
                </div>
            </div>
        </div>
    </div>

</div>
