<div>
	<div class="btn-group ermes-dropdown-div">
	  <button type="button" class="btn btn-primary dropdown-toggle ermes-dropdown-inner-button" data-toggle="dropdown" id="basemap-selector-button">
          Select BaseMap
          <span class="glyphicon glyphicon-chevron-down"></span>
      </button>
	  <!--<button type="button" class="btn btn-primary dropdown-toggle"  aria-expanded="false">-->
	   <!-- -->
	  <!--</button>-->
	  <ul class="dropdown-menu scrollable-menu" role="menu" id="basemap-list-ul">
	 	    
	  </ul>
	</div>
    <hr class="ermes-separator-aspect">
    <div class="btn-group ermes-dropdown-div">
        <button type="button" class="btn btn-primary dropdown-toggle ermes-dropdown-inner-button" data-toggle="dropdown" id="language-selector-button">
            Select Language
            <span class="glyphicon glyphicon-chevron-down"></span>
        </button>
        <!--<button type="button" class="btn btn-primary dropdown-toggle"  aria-expanded="false">-->
        <!-- -->
        <!--</button>-->
        <ul class="dropdown-menu scrollable-menu" role="menu" id="language-list-ul">
            <li>
                <a href="#" id="language-selected-english">English</a>
            </li>
            <li>
                <a href="#" id="language-selected-spanish">Spanish</a>
            </li>
            <li>
                <a href="#" id="language-selected-greek">Greek</a>
            </li>
            <li>
                <a href="#" id="language-selected-italian">Italian</a>
            </li>

        </ul>
    </div>
    <hr class="ermes-separator-aspect">
    <div>Select operational layers:</div>
    <div id="operational-layers" >

    </div>
    <hr class="ermes-separator-aspect">


    <button id="general-help-button" class="btn btn-default btn-block settings-button-tools" data-toggle="modal" data-target="#general-help">
        <span id="span-general-help" aria-hidden="true" class="glyphicon glyphicon-info-sign"></span>General Help
    </button>
    <!--<button id="print-button" type="button" class="btn btn-default btn-block settings-button-tools">-->
    <!--<span aria-hidden="true" class="glyphicon glyphicon-print"></span>Print-->
    <!--</button>-->
    <button id="split-window-button" type="button" class="btn btn-default btn-block settings-button-tools">
        <span aria-hidden="true" class="glyphicon glyphicon-sound-stereo"></span>Split Mode
    </button>
    <button id="logout-button" class="btn btn-default btn-block settings-button-tools">
        <span aria-hidden="true" class="glyphicon glyphicon-ban-circle"></span>Logout
    </button>
    <button id="close-settings-button" type="button" class="btn btn-default btn-block settings-button-tools">
        <span aria-hidden="true" class="glyphicon glyphicon-remove-circle"></span>Close
    </button>


    <div id="print-button-div"></div>

</div>
