<div>
	<div class="btn-group">
	  <button type="button" class="btn btn-primary" id="basemap-selector-button">Select BaseMap</button>
	  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu scrollable-menu" role="menu" id="basemap-list-ul">
	 	    
	  </ul>
	</div>
	<div id="operational-layers">
	 
    </div>
  	<br><br>
    <button id="print-button" type="button" class="btn btn-primary">Print</button>
</div>